body {
    margin: 0;
    padding: 0;
    background-color: #333333;
}

#main {
    margin: 0;
    background-color: #FFFFFF;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -250px;
    display: block;
}
