body {
    margin: 0;
    padding: 0;
    background-color: #111111;
}

#main {
    margin: 0;
    background: url(../img/blue.png) repeat 0px 0px;
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -400px 0 0 -250px;
    display: block;
}
